<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>
<body>

    <h1 th:text="${topic.get().getTopicName()}"></h1>
    <h4 th:text="${topic.get().getDescription()}"></h4>
    <h6 th:text="'Created: ' + ${#dates.format(topic.get().getCreateDate(), 'dd-MM-yyyy HH:mm')} + ' by' + ${topic.get().getUsers().getUserName()}"></h6>

    <h3>Comments</h3>
    <div th:each="comment: ${topic.get().getComments()}">
        <td th:text="${comment.getCommentContent()}"></td>
        <h6><td th:text="'Created: ' + ${#dates.format(comment.createDate, 'dd-MM-yyyy HH:mm')} + ' by'"></td></h6>
        <td th:text="${comment.getUsers().getUserName()}"></td>
    </div>

    <form th:action="@{/forum/addcomment/{id}(id=${topic.get().getId()})}" th:object="${newComment}" method="post">
        <input type="text" th:field="*{commentContent}">
        <span th:style="'color:red'" th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}">Name Error</span>
        <p><input type="submit" value="Add comment"></p>
    </form>

</body>
</html>