<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users list</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
    <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUserName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getRole().getUserRole()}"></td>
                <td><a th:href="@{/users/delete/{id}(id=${user.getId()})}">D</a></td>
            </tr>
    </tbody>
</table>

<form th:action="@{/users/add}" th:object="${newUser}" method="post">
    <p>User Name: <input type="text" th:field="*{userName}" class="form-control"></p>
    <p>Email:     <input type="text" th:field="*{email}"></p>
    <p>Password:  <input type="text" th:field="*{password}"></p>
    <p>Role:
        <select th:field="*{role}">
            <option th:each="role: ${roles}" th:value="${role.getId()}" th:utext="${role.getUserRole()}">
            </option>
        </select>

    </p>
    <p><input type="submit" value="Add User"></p>
</form>
</body>
</html>