<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users list</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
    <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.getUserName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getRole().getUserRole()}"></td>
                <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                    <td><a th:href="@{/users/delete/{id}(id=${user.getId()})}">D</a></td>
                </div>
            </tr>
    </tbody>
</table>
</body>
</html>