<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <p>Login</p>
    <form th:action="@{/login}" method="post" class="form-signin">
        <p>User Name : <input type="text" name="username" placeholder="Enter User Name"/></p>
        <p>User Password : <input type="password" name="password" placeholder="Enter User Password"/></p>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p><button type="submit">Login</button></p>
        <a th:href="@{/register}">Register</a>
    </form>
</body>
</html>